apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: vault
    repo: https://helm.releases.hashicorp.com
    version: 0.28.0
    releaseName: vault
    namespace: vault
    valuesInline:
      global:
        enabled: true
        # WARNING: tlsDisable is set to true for LOCAL DEVELOPMENT ONLY (Kind).
        # For Production: Set tlsDisable: false and configure `tls` section with valid Certs.
        tlsDisable: true
      server:
        dev:
          enabled: true
        dataStorage:
          enabled: false # Storage not needed in dev mode
        # ui:
        #   enabled: true
        #   serviceType: ClusterIP
