apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: vault
    repo: https://helm.releases.hashicorp.com
    version: 0.28.0
    releaseName: vault
    namespace: vault
    valuesInline:
      global:
        enabled: true
        # WARNING: tlsDisable is set to true for LOCAL DEVELOPMENT ONLY (Kind).
        # For Production: Set tlsDisable: false and configure `tls` section with valid Certs.
        tlsDisable: true
      server:
        dataStorage:
          enabled: true
          size: 1Gi
        # For a real production setup, we would use HA with Raft
        # ha:
        #   enabled: true
        #   raft:
        #     enabled: true
      ui:
        enabled: true
        serviceType: ClusterIP
